@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80%;
}

.toggle-btn {
  width: 40px;
  height: 20px;
}

.toggle-btn span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #000;
  margin-bottom: -16px;
}

.toggle-btn span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #000;
  margin-bottom: 0px;
}

.toggle-btn span.three {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #000;
  margin-bottom: 16px;
}

.text-primary {
  color: blueviolet;
}

.link a {
  text-decoration: none;
  position: relative;
  transition: all 0.6s;
}

.link a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: blueviolet;
  transition: all 0.3s;
}

.link a:hover:before {
  width: 100%;
  left: 0;
  background: blueviolet;
}